.container {
    background-color: white;
    max-width: 1000px;
    margin: 10px 0;
}

.container__title {
    padding: 20px;
    margin: 0;
    font-size: 18px;
    font-weight: 700;
}

.container__body {
    padding: 20px;
}

.container__header {
    display: grid;
    grid-template-columns: 1fr auto;
    margin: 0 auto;
    align-items: center;
    border-bottom: 2px solid #F0F0F0;
}

.container__buttons {
    padding-right: 20px;
}

.containerButtons__button {
    border: none;
    background-color: white;
    color: teal;
    transition: 0.5s;
}

.containerButtons__button:hover {
    color: hsl(180, 60%, 20%);
    cursor: pointer;
}

.containerButtons__button:disabled {
    color: #ccc;
    cursor: auto;
}

@media (max-width: 767px) {
    .container__header {
        grid-template-columns: 1fr;
    }
}

@media (max-width: 767px) {
    .container__buttons {
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 10px;
        align-items: center;
        padding-right: 0;
        padding-bottom: 20px;
    }
}