.list {
    list-style: none;
    padding-left: 0;
}

.list__item {
    display: grid;
    grid-template-columns: auto 1fr auto;
    padding-left: 0;
    align-items: center;
    padding: 8px ;
}

.list__item--done {
    text-decoration: line-through;
}

.list__button {
    background-color: hsl(122, 39%, 49%);
    color: white;
    border: none;
    width: 30px;
    height: 30px;
    padding: 0;
    cursor: pointer;
    transition: 1s;
}

.list__button--done {
    background-color: hsl(122, 39%, 49%);
}

.list__button--remove {
    background-color: #FF405B;
    color: white;
    transition: 1s;
}

.list__button--done:hover {
    background-color: hsl(122, 39%, 25%);
}

.list__button--remove:hover {
    background-color: hsl(352, 100%, 35%);
}