.list {
    list-style: none;
    padding-left: 0;
}

.list__item {
    display: grid;
    grid-template-columns: auto 1fr auto;
    padding-left: 0;
    align-items: center;
    padding: 8px ;
}

.list__item--done {
    text-decoration: line-through;
}

.list__button {
    background-color: #4CAF50;
    border: none;
    width: 30px;
    height: 30px;
    padding: 0;
}

.list__button--done {
    background-image: url("../images/check.png");
    background-size: cover;
    background-position: center;
}

.list__button--remove {
    background-color: #FF405B;
    border: none;
}